*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: hsl(222, 11%, 8%);
  --bg-secondary: hsl(222, 11%, 11%);
  --dialog-bg: hsla(222, 11%, 11%, 0.5);
  --text-primary: hsl(0, 0%, 100%);
  --outline-primary: 1px solid hsl(222, 11%, 22%);
  --button-bg: hsl(222, 50%, 50%);
  --button-bg-hover: hsl(222, 50%, 60%);
  color-scheme: dark;
}

html,
body {
  width: 100svw;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  overflow: hidden;
}

.game-canvas {
  --size: 100svmin;
  width: var(--size);
  height: var(--size);
  background-color: var(--bg-secondary);
  outline: var(--outline-primary);
  user-select: none;
}

.panel {
  background-color: transparent;
  padding: 1rem;
  position: absolute;
  width: 100svmin;
  top: 0;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
}

.play-state-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: transparent;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  pointer-events: all;
}

[data-play-button-state]::after {
  content: "";
  box-sizing: content-box;
  border-style: solid;
}

[data-play-button-state="pause"]::after {
  height: 1.25rem;
  width: 0.5rem;
  border-width: 0rem 0.25rem 0rem 0.25rem;
  border-color: currentColor;
}

[data-play-button-state="resume"]::after {
  height: 0;
  width: 0;
  border-width: calc(1rem / 1.73) 0rem calc(1rem / 1.73) 1rem;
  border-color: transparent transparent transparent currentColor;
}

[data-play-button-state="hidden"] {
  display: none;
}

.game-dialog {
  background-color: var(--dialog-bg);
  position: absolute;
  border: var(--outline-primary);
  width: 80svmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2svmin;
  padding: 2svmin;
  backdrop-filter: blur(4px);
  transform: translate(0, 50svh);
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}

.game-dialog.show {
  transform: translate(0, 0svh);
  opacity: 1;
  pointer-events: initial;
}

.game-dialog-text {
  font-size: 2.5rem;
  font-weight: bold;
}

.dialog-action-button-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dialog-action-button {
  font: inherit;
  border: none;
  outline: transparent;
  align-items: center;
  background-color: var(--button-bg);
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  display: none;
}

.visible-button {
  display: flex;
}

.dialog-action-button:hover {
  background-color: var(--button-bg-hover);
}
